  .character-detail-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    box-sizing: border-box;
}
.character-detail-row {
  display: flex;
    gap: 1em;
}
.character-detail-col {
  flex: 1;
}
.character-detail-col-1 {
  flex: 1;
}
.character-detail-col-2-3 {
  flex: 2;
}
@media (max-width: 800px) {
  .character-detail-row {
    flex-direction: column;
      gap: 0.5em;
  }
  .character-detail-col-2-3 {
    flex: 1;
  }
}
