.equipment-card {
  width: 378px !important;
  height: 286px !important;
  max-width: 378px !important;
  min-width: 378px !important;
  min-height: 286px !important;
  max-height: 286px !important;
}
.equipment-card .stat-card-header {
  width: 100%;
  background: #181818;
  border-bottom: 2px solid var(--character-card-border-color, #ffcc00);
  padding: 1em 0;
  font-size: 0.6em;
  text-align: center;
  letter-spacing: 0.5px;
  opacity: 0.7;
  margin-bottom: 0.2em;
  font-family: inherit;
  display: flex;
  color: var(--character-card-border-color, #ffcc00);
  box-sizing: border-box;
}
.equipment-card .stat-card-header .stat-card-cell-base {
  text-align: left;
  margin-left: 0.5em;
  font-size: inherit;
  font-weight: normal;
}
.equipment-card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed var(--character-card-separator-color, #ffcc00);
  height: 64px !important;
  min-height: 64px !important;
  max-height: 64px !important;
  box-sizing: border-box;
  padding: 1.24em 0;
  background: #181818;
  color: var(--character-card-border-color, #ffcc00);
}
.equipment-card-row:nth-child(even) {
  background: #222;
}
.equipment-card-row:last-child {
  border-bottom: none;
}
.equipment-card .stat-card-cell-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 0.5em;
}
.equipment-card .stat-card-cell-base span:last-child {
  font-size: 0.7em;
  color: #888;
  margin-top: 2px;
}
